<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<title>聊天室</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css\0611.css" rel="stylesheet" type="text/css" />
	<link href="css\main.css" rel="stylesheet" type="text/css" />
	<link rel="icon" href="img\favicon.ico" type="image/gif">
</head>

<body>

	<div class="bg"></div>
	<div class="bgshadow"></div>

	<div id="app">
		<div class="back_pos" @click="menu_listener">
			<div class="info">{{info}}</div>

			<!-- 输入姓名提示 -->
			<transition name="slide-fade">
				<div class="tipname" v-if="tip_name" :key="tipname">将要发送给：<b>{{tip_name}}</b></div>
			</transition>

			<!-- 底部操作按钮 -->
			<div id="bottom">
				<!-- 切换按钮 -->
				<button @click="isShowForm = !isShowForm" class="text-or-img">{{textORimg}}</button>

				<!-- 图片发送 -->
				<div id="img-upload-wapper" v-if="isShowForm">
					<form action="img.php" method="post" enctype="multipart/form-data">
						<input type="file" name="file" accept="image/*">
						<input type="submit" value="上传" class="like-botton">
					</form>
				</div>
				<!-- 消息输入 -->
				<input v-if="!isShowForm" class="tosay" :placeholder="placeholder" v-model="inputMsg" @keyup.enter="sendmsg">
				<!-- 文本发送 -->
				<button v-if="!isShowForm" @click="sendmsg" :class="sendButtonColor" class="send">
					<svg id="send-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="28" height="28" viewBox="0 0 24 24">
						<path id="send-path-white" :fill="sendSVGColor" d="M2,21L23,12L2,3V10L17,12L2,14V21Z" />
					</svg>
				</button>
			</div>
		</div>

		<div class="back">
			<div class="logs" id="logs">
				<!-- 加载动画 -->
				<div class="loading_animation" v-if="logs_Cont == ''"></div>

				<!-- 消息体 -->
				<transition-group name="list" v-else>
					<msg-vue v-for="(msg, index) in logs_Cont" :msg_text="isself(msg.uuid)" :time="msg.date" :name="msg.name"
						:text="ispic(msg.text)" @open-menu="menu_open($event, index)" :key="msg">
					</msg-vue>
				</transition-group>

			</div>
		</div>
	</div>

	<!-- js -->
	<script src="https://unpkg.com/vue@3.1.1/dist/vue.global.js"></script>
	<script src="js\jq3.5.1.js"></script>
	<script src="js\vue_main.js"></script>
	<script src="js\main.js"></script>
</body>

</html>